{#
available parameters:
    dip
    {% verbatim %}{{ manageconsentlink }}{% endverbatim %} use this to preserve twig placeholders for the second rendering
#}
{% if dip is not empty %}
    {% set localized_dip_name = localizeString(dip.name, app.user.locale) %}
    {% if localized_dip_name %}
        {{ _('You are receiving this message because you have agreed to the intended use %s.') | format(localized_dip_name) }}
    {% endif %}
{% endif %}

<a href="{% verbatim %}{{ manageconsentlink }}{% endverbatim %}">{{ _('Click here') }}</a>
{{ _('to adjust your consent settings.') }}


