{#
avialable parameters:
    link
    app.branding.title
    contact
#}

{% extends 'Tinebase/views/emails/base.html.twig' %}

{% block subject %}
    {{ _('Link to consent management') }}
{% endblock %}

{% block body %}
    <div class="mt-3 mb-5">
        <p class="text-start">{{ _('you can use this link to manage the purpose for which we may contact you') }}</p>
    </div>
    <div class="ax-center my-5">
        <a class="btn btn-primary p-2" href="{{ link }}" role="button">{{ _('Manage my subscription') }}</a>
    </div>
    {#    {% if localized_dip_name != '' and localized_dip_name == 'Newsletter' %}#}
    {#        <div>{{ 'We sill send our latest news to you !' }}</div>#}
    {#    {% endif %}#}
{% endblock %}


