{#
available parameters:
    link
    app.branding.title
    contact
#}

{% extends 'Tinebase/views/emails/base.html.twig' %}

{% block subject %}
    {% if dip != '' %}
        {{ _('Confirm your E-mail address') }}
    {% else -%}
        {{ _('Confirm your registration') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="mt-3 mb-5">
        <p class="text-start">{{ _('thank you for your registration, to complete the registration, please confirm your e-mail address via this link') }}</p>
    </div>
    <div class="ax-center my-5">
        <a class="btn btn-primary p-2" href="{{ link }}" role="button">{{ _('Confirm E-Mail address') }}</a>
    </div>
{#    {% if localized_dip_name != '' and localized_dip_name == 'Newsletter' %}#}
{#        <div>{{ 'We sill send our latest news to you !' }}</div>#}
{#    {% endif %}#}
{% endblock %}