
{% extends 'Tinebase/views/emails/base.html.twig' %}

{% block subject %}
    {{ _("Attendance Confirmation for Poll „%1$s“") | format(name) }}
{% endblock %}

{% block body %}
    <div class="mt-3 mb-3">
        <p class="text-start">
            {{ _("Thank you for attending the poll „%1$s“") | format(name) }}<br>
            {{ _('To review or edit your status, please use your personal link:') }}<br>
        </p>
    </div>
    <div class="ax-center my-3">
        <a class="btn btn-primary p-2" href="{{ link }}" role="button">{{ _('My Link') }}</a>
    </div>
{% endblock %}