{#
avialable parameters:
    link
    app.branding.title
    contact
    localizeString(dipr.name, app.user.locale)
    localizeString(dipr.description, app.user.locale)
#}


{#
file: tine20/GDPR/js/ConsentClient/src/RegistrationView.vue
url: GDPR/view/register/for/[dipId]
url: GDPR/view/register/for/[email]
#}

{#
file: tine20/GDPR/js/ConsentClient/src/RegistrationView.vue
url: GDPR/view/register/for/[dipId]
url: GDPR/view/register/for/[email]
#}

{% block registrationViewTemplate %}
    <h1>{{ 'Anmeldung' }} </h1>
    <div class="my-4">
        <p>{{ 'Melden Sie sich an, dann senden wir Ihnen künftig Neuigkeiten und Nachrichten rund um unsere Dienstleitungen.' }}</p>
        {% if dipr != '' %}
            <div class="my-1">
                <p><b>{{ localizeString(dipr.name, browserLocale|default(app.user.locale)) }}</b></p>
                <p>{{ 'Ihre Daten verwenden wir ausschließlich zum dem angegebenen Zweck, Sie können jederzeit die Löschung Ihrer Daten veranlassen.' }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block afterClickRegistrationTemplate %}
    <h1>{{ "Vielen Dank für Ihre Anmeldung!" }} </h1>
    <div class="my-4">
        {% if dipr != '' %}
            <p><b>{{ localizeString(dipr.name, browserLocale|default(app.user.locale)) }}</b></p>
            <p>{{ 'Die übermittelte E-Mail-Adresse wird ausschließlich für den gewählten Zweck verwendet.' }}</p>
            <p>{{ 'Sie können jederzeit Ihre Zustimmung widerrufen oder die Verwendung Ihrer Daten ändern.' }}</p>
        {% endif %}
    </div>
{% endblock %}