{#
Please note: This template gets rendered twice. First time for composing the mail, second time in mass mail processing
variables for the second run can be preserved in {% verbatim %} blocks
available parameters:
    app
    poll
    contact (second run only)
#}
{% extends 'Tinebase/views/emails/base.html.twig' %}
{% block subject %}
        {{ formatMessage('Crew Scheduling Poll: "{ roleName }" ({ from } - { until })', {
            roleName: poll.scheduling_role.name ,
            from: dateFormat(poll.from, 'date'),
            until: dateFormat(poll.until, 'date'),
        }) }}
{% endblock %}

{% block salutation %}
    <h5>{{ _('Dear {{ contact.n_fn }},') }}</h5>
    <hr>
{% endblock %}

{% block body %}
    <p class="lead mb-4">
        {{ formatMessage('you are invited to take part in a Crew Scheduling poll for the scheduling role { roleName } from { from } until { until }.', {
            roleName: poll.scheduling_role.name ,
            from: dateFormat(poll.from, 'date'),
            until: dateFormat(poll.until, 'date'),
        }) }}
    </p>
    {% if poll.description %}
    <div class="mt-3 space-y-0">
        <h6 class="text-muted mt-3">{{ _('Description') }}:</h6>
        <p class="mt-3">{{ poll.description }}</p>
    </div>
    {% endif %}
    <p class="mt-3">
        {{ formatMessage('Please take part in the poll and respond by { deadline }.', {
            deadline: dateFormat(poll.deadline, 'date'),
        }) }}
    </p>
    <div class="ax-center my-3">
        <a class="btn btn-primary p-2" href="{{ poll.getUrl() }}" role="button">{{ formatMessage('Take part now', {}) }}</a>
    </div>
    <p class="mt-3">
        {{ _('Thank you very much!') }}<br />
        {{ _('Yours sincerly') }}<br />
        <br />
        {{ app.user.contact.n_fn }}
        <div class="felamimail-body-signature-container" />
    </p>
{% endblock %}