{#
avialable parameters:
    link
    app.branding.title
    contact
    localizeString(dipr.name, app.user.locale)
    localizeString(dipr.description, app.user.locale)
#}

{#
    file: tine20/GDPR/js/ConsentClient/src/EmailPage.vue
    url: /register/for[/{dipId}]
#}

{% block emailPageWelcomeTextTemplate %}
    <h1>{{ 'Registration' }}</h1>
    <div class="my-4">
        {% if dipr != '' %}
            <p>{{ 'Sign up and we will send you news and information about our services in the future.' }}</p>
            <div class="my-1">
                <p><b>{{ localizeString(dipr.name, browserLocale|default(app.user.locale)) }}</b></p>
                <p>{{ 'We use your data exclusively for the stated purpose; you can request the deletion of your data at any time.' }}</p>
            </div>
        {% else -%}
            <p>{{ 'Enter your E-mail address to register.' }}</p>
        {% endif %}
    </div>
{% endblock %}
{% block afterSendEmailTemplate %}
    <h1>{{ '' }}</h1>
    <div class="my-4">
        <p>{{ "We have sent you a confirmation link to the E-mail address you provided. Please check your inbox." }}</p>
    </div>
{% endblock %}
