{% extends 'Tinebase/views/base.html.twig' %}

{% block custom_style %}
    .contact-info {
        padding: 0.5rem;
    }
    h6 {
        margin-top: 1rem;
    }
{% endblock %}


{% block content %}
    <h2 class="mb-4 text-center">{{ _('Imprint') }}</h2>
    <h6>Provider information according to ยง 5 TMG:</h6>
    {% if app.installationRepresentative is not empty -%}
        <div class="contact-info">
            <div>{{ app.installationRepresentative.org_name }}</div>
            <div>{{ app.installationRepresentative.adr_one_street }}</div>
            {% set address_parts = [
                app.installationRepresentative.adr_one_postalcode,
                app.installationRepresentative.adr_one_locality
            ]|filter(v => v is not empty) %}

            {% if address_parts is not empty %}
                <div>{{ address_parts|join(' ') }}</div>
            {% endif %}
            <div>Represented by {{ app.installationRepresentative.n_fn }}</div>
        </div>
        <h6>Contact:</h6>
        <div class="contact-info">
            <div>Phone: {{ app.installationRepresentative.tel_work }}</div>
            <div>Fax: {{ app.installationRepresentative.tel_fax }}</div>
            <div>E-Mail: {{ attribute(app.installationRepresentative, app.installationRepresentative.preferred_email) }}</div>
        </div>
    {% endif %}

    {% if app.commercialRegistry is not empty -%}
        <h6>Registered in the commercial register at {{ app.commercialRegistry }}</h6>
    {% endif %}

    {% if app.vatId is not empty -%}
        <h6>VAT ID according to ยง 27 UStG: {{ app.vatId }}</h6>
    {% endif %}

    {% if app.installationResponsible is not empty -%}
        <h6>Responsible person according to ยง 18 Para. 2 MStV</h6>
        <div class="contact-info">
            <div>{{ app.installationResponsible.n_fileas }}</div>
            <div>{{ app.installationResponsible.adr_one_street }}</div>
            {% set address_parts = [
                app.installationResponsible.adr_one_postalcode,
                app.installationResponsible.adr_one_locality
            ]|filter(v => v is not empty) %}

            {% if address_parts is not empty %}
                <div>{{ address_parts|join(' ') }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}