{#
avialable parameters:
    link
    app.branding.title
    contact
    localizeString(dipr.name, app.user.locale)
    localizeString(dipr.description, app.user.locale)
#}

{#
file: tine20/GDPR/js/ConsentClient/src/ManageConsent.vue
url: GDPR/view/manageConsent/contactId
#}

{% block manageConsentPageExplainText %}
    {% if contact != '' %}
        <h1>{{ 'Consent from' }}: <span>{{ contact.email }}</span></h1>
        <div class="my-4">
            {% if contact.n_fileas != '' %}<a>Name: {{ contact.n_fileas }}</a><br>{% endif %}
            {% if contact.org_name != '' %}<a>Organization: {{ contact.org_name }}</a>{% endif %}
        </div>
    {% endif %}
        <div class="my-4">
            <a><b>{{ 'Welcome to your consent management.'}}</b></a><br>
            <a>{{ 'Here you can decide for which purposes we may contact you.'}}</a>
        </div>
{% endblock %}
