{#
available parameters:
    link
    app.branding.title
    contact
    localizeString(dip.name, app.user.locale)
    localizeString(dip.description, app.user.locale)
#}


{#
    file: tine20/GDPR/js/ConsentClient/src/RegistrationView.vue
    url: GDPR/view/register/{token}
#}

{% block registrationViewTemplate %}
    <h1>{{ _('Registration') }} </h1>
    <div class="my-4">
        <p>{{ _('Register and we will send you news and information about our services in the future.') }}</p>
        {% if dip != '' %}
            <div class="my-1">
                <p><b>{{ localizeString(dip.name, browserLocale|default(app.user.locale)) }}</b></p>
                <p>{{ _('We use your data exclusively for the stated purpose, you can request the deletion of your data at any time.') }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block afterClickRegistrationTemplate %}
    <h1>{{ _("Thank you for the registration!") }} </h1>
    <div class="my-4">
        {% if dip != '' %}
            <p><b>{{ localizeString(dip.name, browserLocale|default(app.user.locale)) }}</b></p>
            <p>{{ _('The submitted E-mail address will only be used for the selected purpose.') }}</p>
            <p>{{ _('You can withdraw your consent or change the use of your data at any time.') }}</p>
        {% endif %}
    </div>
{% endblock %}
