{#
avialable parameters:
    link
    app.branding.title
    contact
    localizeString(dipr.name, app.user.locale)
    localizeString(dipr.description, app.user.locale)
#}


{#
    file: tine20/GDPR/js/ConsentClient/src/RegistrationView.vue
    url: GDPR/view/register/{token}
#}

{% block registrationViewTemplate %}
    <h1>{{ 'Registration' }} </h1>
    <div class="my-4">
        <p>{{ 'Register and we will send you news and information about our services in the future.' }}</p>
        {% if dipr != '' %}
            <div class="my-1">
                <p><b>{{ localizeString(dipr.name, browserLocale|default(app.user.locale)) }}</b></p>
                <p>{{ 'We use your data exclusively for the stated purpose, you can request the deletion of your data at any time.' }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block afterClickRegistrationTemplate %}
    <h1>{{ "Thank you for the registration!" }} </h1>
    <div class="my-4">
        {% if dipr != '' %}
            <p><b>{{ localizeString(dipr.name, browserLocale|default(app.user.locale)) }}</b></p>
            <p>{{ 'The submitted E-mail address will only be used for the selected purpose.' }}</p>
            <p>{{ 'You can withdraw your consent or change the use of your data at any time.' }}</p>
        {% endif %}
    </div>
{% endblock %}
